.presentation { 
    padding: 2em;
    margin: 2em;
}

.presentation p {
    padding: 0;
}

.presentation header {
    padding-bottom: 2em;
}

.presentation header p {
    padding: 0;
    opacity: 0.8;
}

.presentation header h1 {
    line-height: 1.1;
    margin: 0.2rem 0 0.2rem -0.06em;
}

.presentation header h2 {
    color: #43D9AD;
    font-size: 1.8em;
    opacity: 0.7;
}

.presentation header h2::before {
    display: inline-block;
    content: '>';
    padding-right: 1em;
    color: #4D5BCE;
}

.presentation p a {
    text-decoration: none;
}

.presentation p a:hover {
    text-decoration: underline;
}

.presentation .comment { 
    color: #607B96;
    padding-top: 5em;
}

.presentation .clr-variable-type {
    color: #4D5BCE;
}

.presentation .clr-variable-name {
    color: #43D9AD;
}

.presentation .clr-variable-value {
    /* color: #E99287; */
    background: linear-gradient(to right, rgb(254, 0, 0.9), 
    rgb(255, 0, 251, 0.9), 
    rgba(0, 255, 251, 0.9),
    rgba(0, 255, 0, 0.9),
    rgba(255, 255, 0, 0.9),
    rgba(255, 0, 0, 0.9));
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 100%;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

