.main-nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.main-nav ul li {
    display: block;
    list-style: none outside;
    line-height: 1;
    border-left: 1px solid var(--clr-border-layout);
}

.main-nav ul li:first-child {
    margin-left: auto;
}

.main-nav ul li a {
    display: block;
    text-decoration: none;
    padding: 0.8em 1em;
    position: relative;
}

.main-nav ul li a:focus,
.main-nav ul li a:hover {
    background-color: rgb(255, 255, 255, 0.1);
}

.main-nav ul li a::before {
    display: inline-block;
    content: "_";
}

.main-nav ul li.selected a {
    background: var(--clr-text-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.main-nav ul li.selected a::after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #5ffef1;
    position: absolute;
    top: calc( 100% - 1px );
    left: 0;
}

@media (min-width: 800px) {
    .main-nav {
        display: block;
    }
}
