body{
    background-color: var(--clr-body-bgrd);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site{
    background-color: var(--clr-site-bgrd);
    border: 1px solid var(--clr-border-layout);
    width: 95%;
    min-height: 80vh;
    color: #fff;
    border-radius: 8px;
    /* position: relative; */
    overflow: hidden;
    /* z-index: 12; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    padding-left: 5em;
    padding-bottom: 2em;;
}

main header h1 {
    background: var(--clr-text-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 500%;
    -webkit-text-fill-color: transparent;
    color: transparent;
    animation: animate 5s ease-in-out infinite;
}


@keyframes animate {
    0% {
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
